/* Фон */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms $function-transition;
    overflow-y: scroll;
    
}
/* Клас для приховування фону */
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms $function-transition;
}

/* Коли фон приховано, модальне вікно показується */
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}
