.section-clients {
    @include section-padding(60px);
    
    @media screen and (min-width: 1200px) {
        @include section-padding(94px);
    }
}
.section__title {
    @extend  %section__title;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
}

.clients {
    // clients для мобільного
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
    &__item {
        
        height: 92px;
        flex-basis: calc((100% - 60px) / 2);
        width: 100%;
    
        // clients__item для таблетки 2 ряда по 3
        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 90px) / 3);
            min-width: 226px;
               
        }
        // clients__item для десктопної версії 6 в ряд
        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 180px) / 6);
            min-width: 170px; 
         }
    }

    &__link {
        @extend %flex;
        width: 100%;
        height: 100%;
        border: 1px solid $icons-color;
        border-radius: 4px;
        transition: border 250ms $function-transition;
        }
    &__icon {
        fill: $icons-color;
        transition: fill 250ms $function-transition;
        }
        
    &__link:hover &__icon,
    &__link:focus &__icon {
        fill: $accent-color;
        }
        
    &__link:hover,
    &__link:focus {
        border: 1px solid $accent-color;
        }
    }