// .grid {
//     @extend %list;
//     display: flex;
//     flex-wrap: wrap;

//     &__item {
//         position: relative;
//         width: calc((100% - 60px) / 3);
//         margin-right: 30px;
//         margin-bottom: 30px;
//     }

//     &__item:nth-child(3n) {
//         margin-right: 0;
//     }

//     &__item:nth-last-child(-n+3) {
//         margin-bottom: 0;
//     }
// }
// .product {
//     display: block;
//     text-decoration: none;
//     transition: box-shadow 250ms $function-transition;

//     &__image {
//         display: block;
//         max-width: 100%;
//         height: auto;
//     }

//     &:hover,
//     &:focus {
//         box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
//     }

//     &__thumb {
//         overflow: hidden;
//         position: relative;
//     }

//     &__overlay {
//         @extend %flex;
//         position: absolute;
//         bottom: 0;
//         right: 0;
//         top: 0;
//         left: 0;
//         width: 370px;
//         height: 294px;
//         padding: 63px 24px;
//         font-size: 18px;
//         line-height: 1.56;
//         background-color: $accent-color;
//         color: $primary-bg-color;
//         transform: translateY(100%);
//         transition: transform 250ms $function-transition;
//     }

//     &:hover &__overlay,
//     &:focus &__overlay {
//         transform: translateY(0);
//     }

//     &__title {
//         color: $title-text-color;
//         font-weight: 700;
//         font-size: 18px;
//         line-height: 2;
//         letter-spacing: 0.06em;
//     }

//     &__type {
//         margin-top: 4px;
//         font-size: 16px;
//         line-height: 1.88;
//         color: $primary-text-color;
//     }

//     &__description {
//         padding: 20px 24px;
//         border-right: 1px solid #EEEEEE;
//         border-bottom: 1px solid #EEEEEE;
//         border-left: 1px solid #EEEEEE;
//     }
// }