.join-us {
    width: 206px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 60px;
    
    @media screen and (min-width: 1200px) {
            margin: 0 0 0 70px;
        }

    &__title {
        @extend %join-us;
        text-align: center;
        
        @media screen and (min-width: 1200px) {
            text-align: left;
        }
    }
    &__social {
        margin-top: 20px;
    }
    &__social__link {
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 250ms $function-transition;
    }
    &__social__icon {
        fill: $primary-bg-color;
    }
    &__social__link:hover,
    &__social__link:focus {
        background-color: $accent-color;
    }
}