// .portfolio {
//     padding-top: 94px;
//     padding-bottom: 94px;
    
//     &__button {
//         display: inline-block;
//         padding: 6px 22px;
//         border-width: 0;
//         border-radius: 4px;
//         cursor: pointer;
//         font-family: inherit;
//         font-weight: $medium-font-weight;
//         font-size: 16px;
//         line-height: 1.63;
//         background-color: $background-team-color;
//         color: $title-text-color;
//         transition: background-color 250ms $function-transition,
//         color 250ms $function-transition,
//         box-shadow 250ms $function-transition;
//     }
    
//     &__button:hover,
//     &__button:focus {
//         background-color: $accent-color;
//         color: $primary-bg-color;
//         box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
//     }
// }

// /* Buttons portfolio*/
// .buttons {
//     @extend %list;
//     margin-bottom: 34px;
//     display: flex;
//     justify-content: center;
//     min-width: 575px;

//     &__item {
//         margin-right: 8px;
//     }
//     &__item:last-child {
//         margin-right: 0;
//     }
// }