/* Navigation */
.site-nav {
    display: flex;
    margin-left: 93px;

    @media screen and (max-width: 767px) {
      display: none;
    }
    
    &__link {
                    display: block;
                    padding-top: 32px;
                    padding-bottom: 32px;
                    font-weight: $medium-font-weight;
                    line-height: 1.14;
                    letter-spacing: 0.02em;
                    color: $title-text-color;
                    text-decoration: none;
                    transition: color 250ms var(--function-transition);
                }
}


        // .site-nav {
//     display: flex;
//     margin-left: 93px;

//     &__item {
//         position: relative;
//         margin-right: 50px;
//     }
//     &__item:last-child {
//         margin-right: 0;
//     }
//     &__link {
//         display: block;
//         padding-top: 32px;
//         padding-bottom: 32px;
//         font-weight: $medium-font-weight;
//         line-height: 1.14;
//         letter-spacing: 0.02em;
//         color: $title-text-color;
//         text-decoration: none;
//         transition: color 250ms var(--function-transition);
//     }
//     &__link:hover,
//     &__link:focus{
//         color: $accent-color;
//     }

//     &__link--current {
//         color: $accent-color;
//     }

//     &__link--active::after {
//         content: '';
//         position: absolute;
//         left: 0;
//         bottom: -1px;
//         width: 100%;
//         height: 2px;
//         border: 2px solid $accent-color;
//         background: $accent-color;
//         border-radius: 20px;
//     }
// }