.social {
  display: flex;
  justify-content: center;

  &__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    @extend %flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms $function-transition;
  }

  &__icon {
    fill: $icons-color;
    transition: fill 250ms $function-transition;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $primary-bg-color;
  }

  &__link:hover,
  &__link:focus {
    background-color: $accent-color;
  }
}
