body {
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-size: $common-font-size;
  line-height: $common-line-height;
  font-weight: $regular-font-weight;
  letter-spacing: $common-letter-spacing;
  font-family: $primary-font;
}
