$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$bg-accent-color: #2f303a;
$primary-font: Roboto, sans-serif;
$common-font-size: 14px;
$common-line-height: 1.71;
$regular-font-weight: 400;
$medium-font-weight: 500;
$common-letter-spacing: 0.03em;
$background-team-color: #f5f4fa;
$black-color: #000000;
$address-color: rgba(255, 255, 255, 0.6);
$icons-color: #afb1b8;
$function-transition: cubic-bezier(0.4, 0, 0.2, 1);
